/* App.css or your custom CSS file */
body {
    font-family: Arial, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
    margin-right: 10px;
}

.left-sidebar {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo a {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

ul li a:hover {
    color: #007bff;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-body {
    padding: 15px;
}

.card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.title h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.title p {
    margin: 0;
    color: #888;
}

.right-sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
}

.left-sidebar {
    position: fixed;
    width: 25%;
}

/* Responsive adjustments */
@media(max-width:500px) {
    .left-sidebar {
        z-index: 100;
        width: 90%;
        padding: 0px;
        margin: 0px;
        position: fixed;
        bottom: 0;
    }

    .left-sidebar ul {
        display: flex;
    }
    .left-sidebar ul li a{
        font-size: 20px;
        font-weight: 700;
        margin-left: 10px
    }
    .nav-name {
        display: none;
    }

    .logo {
        display: none;
    }
}